.transform p {
  padding: 1rem;
  background-color: azure;
}

#translate {
  transform: translate(45px, -25px);
  -webkit-transform: translate(45px, -25px);
  -ms-transform: translate(45px, -25px);
}

#scale {
  transform: scale(1.5, .25);
  -ms-transform: scale(1.5, .25);
  -webkit-transform: scale(1.5, .25);
}

#rotate {
  transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
}


#skew {
  transform: skew(15deg, 4deg);
  -ms-transform: skew(15deg, 4deg);
  -webkit-transform: skew(15deg, 4deg);
}

/* Order of transform is important. For example, rotating then translating on the X will not move the element to the left but on the rotated axis instead. */

.square {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 0;
  transition: .2s all ease-in .5s;
  -webkit-transition: .2s all ease-in .5s;
}

.square:hover {
  border-radius: 50%;
  background-color: green;
}

.animation:after {
  content: '';
  width: 90px;
  height: 92px;
  background-image: url(./anim.png);
  display: block;
  animation: bike .4s steps(4, end) 50ms infinite;
  animation-play-state: paused;
}

.animation:hover:after {
  animation-play-state: running;
}

@keyframes bike {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -360px 0;
  }
}

.myCanvas {
  border: 2px dotted black;
  margin: 0 20px
}

#myImageElem, #secondImage {
  width: 100px;
}